$black: #000;
$white: #fff;
$light-black: #333;
$main-color: #5ddfc8;
$sky-blue: #5DD5C8;

$link-text: $light-black;

$social-text: $light-black;
$social-background: $sky-blue;
$social-icon: #444;
$social-copy: rgb(29, 101, 110);

$baseInfo-text: $light-black;
$baseInfo-background: #596174;
$baseInfo-box-background: $white;

$projects-background: #FF6F6D;