html{
    font-size: 60px !important;
}

$base-size: 60;

$count: 20;

@media screen and (min-width: $extra-small-breakpoint) {
    html{
        font-size: $extra-small-breakpoint / $count;
    }
}

@media screen and (min-width: $small-breakpoint) {
    html{
        font-size: 60px !important;
    }
}

@media screen and (min-width: $medium-breakpoint) {
    html{
        font-size: $medium-breakpoint / $count;
    }
}

@media screen and (min-width: $large-breakpoint) {
    html{
        font-size: $large-breakpoint / $count;
    }
}

@media screen and (min-width: $extar-large-breakpoint) {
    html{
        font-size: $extar-large-breakpoint / $count;
    }
}